<!-- Barra de progreso -->
<div *ngIf="!terminado" class="barra-progreso">
  <div class="barra-fondo">
    <div class="barra-relleno" [style.width.%]="(ejercicioActual - 1) / totalEjercicios * 100"></div>
  </div>
  <span class="progreso-contador">{{ ejercicioActual }}/{{ totalEjercicios }}</span>
</div>

<div class="ejercicio-contenedor">
  <!-- Zona de ejercicio -->
  <div *ngIf="!terminado" class="zona-ejercicio" data-aos="zoom-in">
    <div class="operacion">
      <span class="numero">{{ numero1 }}</span>
      <span class="signo">{{ operador }}</span>
      <span class="numero">{{ numero2 }}</span>
      <span class="igual">=</span>
      <span class="numero">{{ resultadoMostrado }}</span>
    </div>

    <div class="respuesta-row">
    <div class="mensaje">
  <span *ngIf="color === 'green'" class="correcto">✔ Correcto</span>
  <span *ngIf="color === 'red'" class="incorrecto mover-derecha">¡Intenta de nuevo!</span>
</div>

      <div class="botones-verf">
        <button (click)="verificar(true)" [disabled]="mensaje !== ''"> Verdadero</button>
        <button (click)="verificar(false)" [disabled]="mensaje !== ''"> Falso</button>
      </div>
    </div>
  </div>

  <!-- Resultado final -->
  <div *ngIf="terminado" class="zona-final" data-aos="zoom-in">
    <p class="titulo-final">CALIFICACIÓN</p>
    <div class="resultado-final">
      <span class="resultado-numero">{{ calificacion }}</span>
      <span class="resultado-slash">/</span>
      <span class="resultado-total">{{ totalEjercicios }}</span>
    </div>
    <button class="volver" routerLink="/principal">Volver al inicio</button>
  </div>
</div>
<button class="imagen-boton" (click)="abrirModal()">
  <img src="assets/Images/pensando.png" alt="Abrir modal" class="imagen-esquina">
  <img src="assets/Images/PenAyuda.png" alt="Ayuda" class="imagen-hover">
</button>
<button class="btn-volver" routerLink="/principal">Volver</button>

<!-- Modal -->
<div class="modal-fondo" *ngIf="modalAbierto">
  <div class="modal-contenido" data-aos="zoom-in">
    <span class="cerrar" (click)="cerrarModal()">&times;</span>
    <h2>🔍 ¿Cómo jugar “Verdadero o Falso”?</h2>
    <ul>
      <li>👁️ Observa bien la operación que aparece en pantalla.</li>
      <li>🤔 Piensa si el resultado mostrado es correcto o incorrecto.</li>
      <li>👍 Si crees que está bien, haz clic en <strong>“Verdadero”</strong>.</li>
      <li>👎 Si crees que está mal, haz clic en <strong>“Falso”</strong>.</li>
    </ul>
    <p>📊 Verás tu progreso en la parte superior. Al terminar todos los ejercicios, se mostrará tu <strong>calificación
        final</strong>.</p>

  </div>
</div>