
<body>



  <!-- Contenido principal -->
  <main class="login-container" data-aos="fade-up" data-aos-duration="1000">
    <h2 data-aos="zoom-in" data-aos-delay="100">Iniciar Sesión</h2>
    
    <form class="login-form">
      <input type="text" placeholder="Correo o usuario" required data-aos="fade-right" data-aos-delay="200">
      
      <div class="input-password" data-aos="fade-right" data-aos-delay="300">
        <input type="password" placeholder="Contraseña" required>
        <span class="olvido">¿Se te olvidó?</span>
      </div>

      <div class="separador" data-aos="zoom-in" data-aos-delay="400">
        <div class="linea"></div>
        <div class="circulo"></div>
        <div class="linea"></div>
      </div>

      <div class="redes" data-aos="fade-up" data-aos-delay="500">
        <button class="facebook"><img src="Images/Facebook.png" alt=""> FACEBOOK</button>
        <button class="google"><img src="Images/Google.png" alt=""> GOOGLE</button>
      </div>

      <button class="ingresar" data-aos="zoom-in-up" data-aos-delay="600"><strong>Ingresar</strong></button>
    </form>

    <p class="terminos" data-aos="fade-in" data-aos-delay="700">
      Al registrarte en DIJU, aceptas nuestros<br>
      <strong>Términos</strong> y <strong>Política de privacidad.</strong>
    </p>
  </main>
</body>

