<!-- Barra de progreso -->
<div *ngIf="!terminado" class="barra-progreso">
  <div class="barra-fondo">
    <div class="barra-relleno" [style.width.%]="(ejercicioActual - 1) / totalEjercicios * 100"></div>
  </div>
  <span class="progreso-contador">{{ ejercicioActual }}/{{ totalEjercicios }}</span>
</div>

<!-- Contenedor principal -->
<div class="ejercicio-contenedor">
  <!-- Ejercicio activo -->
  <div *ngIf="!terminado" class="zona-ejercicio" data-aos="zoom-in">
    <div class="operacion">
      <span class="signo">¿Cuál es el mayor?</span>
      <ng-container *ngFor="let n of numeros">
        <span class="numero">{{ n }}</span>
      </ng-container>
    </div>

    <div class="opciones">
      <button *ngFor="let opcion of opciones" (click)="verificar(opcion)" [disabled]="mensaje !== ''">
        {{ opcion }}
      </button>
    </div>

    <div class="mensaje">
      <span *ngIf="color === 'green'" class="correcto">✔ Correcto</span>
      <span *ngIf="color === 'red'" class="incorrecto">No es asi<br>!Tu puedes!</span>
    </div>
  </div>

  <!-- Resultado final -->
  <div *ngIf="terminado" class="zona-final" data-aos="zoom-in">
    <p class="titulo-final">CALIFICACIÓN</p>
    <div class="resultado-final">
      <span class="resultado-numero">{{ calificacion }}</span>
      <span class="resultado-slash">/</span>
      <span class="resultado-total">{{ totalEjercicios }}</span>
    </div>
    <button class="volver" routerLink="/principal">Volver al inicio</button>
  </div>
</div>
<button class="imagen-boton" (click)="abrirModal()">
  <img src="assets/Images/pensando.png" alt="Abrir modal" class="imagen-esquina">
  <img src="assets/Images/PenAyuda.png" alt="Ayuda" class="imagen-hover">
</button>
<button class="btn-volver" routerLink="/principal">Volver</button>


<!-- Modal -->
<div class="modal-fondo" *ngIf="modalAbierto">
  <div class="modal-contenido" data-aos="zoom-in">
    <span class="cerrar" (click)="cerrarModal()">&times;</span>
   <h2>🔍 ¿Cómo jugar “¿Cuál es el mayor?”</h2>
<ul>
  <li>👀 Observa los números que aparecen en pantalla.</li>
  <li>🧠 Piensa cuál de todos es el número más grande.</li>
  <li>🖱️ Haz clic en la opción que creas que es la correcta.</li>
</ul>
<p>📊 Tu progreso aparecerá arriba. Cuando termines todos los ejercicios, verás tu <strong>calificación final</strong>.</p>

  </div>
</div>
