<button class="menu-toggle" (click)="toggleSidebar()" [class.active]="isSidebarActive" aria-label="Abrir menú">
    <i class="fa-solid fa-bars"></i>
</button>

<div class="container">
    <aside class="sidebar" [class.active]="isSidebarActive" id="sidebar">
        <div class="menu">
            <div class="menu-item" routerLink="/principal" routerLinkActive="activo">
                <img src="assets/Images/Casa.png" alt="Inicio" />
                <span>Inicio</span>
            </div>

            <div class="menu-item" routerLink="/matematicas-1" routerLinkActive="activo">
                <img src="assets/Images/Ejercicios.png" alt="Ejercicios" />
                <span>Ejercicios</span>
            </div>

            <div class="menu-item" routerLink="/foro" routerLinkActive="activo">
                <img src="assets/Images/Foro.png" alt="Foro" />
                <span>Foro</span>
            </div>

            <div class="menu-item" routerLink="/perfil" routerLinkActive="activo">
                <img src="assets/Images/Perfil.png" alt="Perfil" />
                <span>Perfil</span>
            </div>

            <div class="menu-item" routerLink="/configuracion" routerLinkActive="activo">
                <img src="assets/Images/Mas.png" alt="Más" />
                <span>Más</span>
            </div>
        </div>
    </aside>
    <div class="contenedor">
        <div class="modulo">
            <div class="contenido">
                <h3>Suma y Aprende</h3>
                <ul class="sin-viñetas">
                    <li>Operaciones simples de suma con apoyo visual llamativo.</li>
                    <li>Estimula el cálculo mental y la atención.</li>
                    <li>Retroalimentación inmediata y progreso visible.</li>
                </ul>
            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-1']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>

        <div class="modulo">
            <div class="contenido">
                <h3>Elige la Operación Correcta</h3>
                <ul class="sin-viñetas">
                    <li>Ejercita tu razonamiento con operaciones matemáticas interactivas.</li>
                    <li>Elige entre varias opciones para completar la operación correcta.</li>
                    <li>Recibe retroalimentación inmediata y sigue tu progreso.</li>
                </ul>

            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-2']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>¿Verdadero o Falso?</h3>
                <ul class="sin-viñetas">
                    <li>Desarrolla el pensamiento lógico evaluando si las operaciones son correctas.</li>
                    <li>Responde con rapidez eligiendo entre “Verdadero” o “Falso”.</li>
                    <li>Recibe retroalimentación inmediata y conoce tu calificación al final.</li>
                </ul>

            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-3']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Elige la Respuesta Correcta</h3>
                <ul class="sin-viñetas">
                    <li>Resuelve operaciones matemáticas básicas con agilidad y precisión.</li>
                    <li>Selecciona la respuesta correcta entre varias opciones disponibles.</li>
                    <li>Mejora tu cálculo mental con retroalimentación inmediata y puntaje final.</li>
                </ul>


            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-4']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Encuentra el Número que Falta</h3>
                <ul class="sin-viñetas">
                    <li>Desafía tu mente encontrando el número que completa la operación.</li>
                    <li>Refuerza tus habilidades de lógica y cálculo mental.</li>
                    <li>Recibe retroalimentación inmediata y mejora en cada intento.</li>
                </ul>


            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-5']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Ordena los Números</h3>
                <ul class="sin-viñetas">
                    <li>Desarrolla habilidades de secuenciación ordenando números correctamente.</li>
                    <li>Elige entre diferentes combinaciones y pon a prueba tu lógica.</li>
                    <li>Avanza visualizando tu progreso y recibe una calificación final.</li>
                </ul>



            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-6']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>¿Cuál es el Mayor?</h3>
                <ul class="sin-viñetas">
                    <li>Observa los números y elige el que sea más grande.</li>
                    <li>Mejora tu habilidad para comparar cantidades rápidamente.</li>
                    <li>Recibe retroalimentación inmediata y visualiza tu calificación final.</li>
                </ul>



            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-7']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>¿Cuál es el Menor?</h3>
                <ul class="sin-viñetas">
                    <li>Identifica el número más pequeño entre varias opciones.</li>
                    <li>Desarrolla la rapidez para comparar y tomar decisiones.</li>
                    <li>Conoce tus aciertos y sigue tu progreso en cada ejercicio.</li>
                </ul>



            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-8']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>¿Cuál es el Número del Medio?</h3>
                <ul class="sin-viñetas">
                    <li>Encuentra el número que está justo entre los otros dos.</li>
                    <li>Fortalece tu pensamiento lógico y tu sentido del orden.</li>
                    <li>Recibe retroalimentación inmediata y una calificación al final.</li>
                </ul>


            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-9']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Sigue la Serie</h3>
                <ul class="sin-viñetas">
                    <li>Observa la secuencia y elige el número que continúa la serie.</li>
                    <li>Desarrolla tu razonamiento lógico y tu memoria visual.</li>
                    <li>Recibe retroalimentación inmediata y visualiza tu calificación final.</li>
                </ul>



            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-10']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Resta Interactiva</h3>
                <ul class="sin-viñetas">
                    <li>Resuelve restas seleccionando el resultado correcto.</li>
                    <li>Refuerza habilidades básicas de cálculo de forma divertida.</li>
                    <li>Obtén retroalimentación y lleva un seguimiento de tu progreso.</li>
                </ul>



            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-11']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
            <div class="contenido">
                <h3>Multiplicación Interactiva</h3>
                <ul class="sin-viñetas">
                    <li>Resuelve multiplicaciones básicas de forma dinámica.</li>
                    <li>Elige la respuesta correcta y refuerza tu agilidad mental.</li>
                    <li>Recibe comentarios inmediatos y una calificación final.</li>
                </ul>
            </div>
            <div class="lado-derecho">
                <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
                <a [routerLink]="['/matematicas-12']">
                    <button class="btn">INICIAR</button>
                </a>

            </div>
        </div>
        <div class="modulo">
        <div class="contenido">
            <h3>División Interactiva</h3>
            <ul class="sin-viñetas">
                <li>Practica divisiones simples seleccionando el resultado correcto.</li>
                <li>Mejora tu comprensión de la división de manera práctica.</li>
                <li>Visualiza tu rendimiento con retroalimentación y puntaje final.</li>
            </ul>



        </div>
        <div class="lado-derecho">
            <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
            <a [routerLink]="['/matematicas-13']">
                <button class="btn">INICIAR</button>
            </a>

        </div>
    </div>
    <div class="modulo">
        <div class="contenido">
            <h3>Tablas de Multiplicar</h3>
            <ul class="sin-viñetas">
                <li>Repasa las tablas de multiplicar eligiendo la respuesta correcta.</li>
                <li>Fortalece tu memoria y rapidez mental.</li>
                <li>Evalúa tu desempeño con retroalimentación y calificación al final.</li>
            </ul>


        </div>
        <div class="lado-derecho">
            <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
            <a [routerLink]="['/matematicas-14']">
                <button class="btn">INICIAR</button>
            </a>

        </div>
    </div>
    <div class="modulo">
        <div class="contenido">
            <h3>Descomposición Numérica</h3>
            <ul class="sin-viñetas">
                <li>Descompón números en centenas, decenas y unidades correctamente.</li>
                <li>Comprende mejor el valor posicional de cada cifra.</li>
                <li>Recibe retroalimentación inmediata y observa tu progreso.</li>
            </ul>



        </div>
        <div class="lado-derecho">
            <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
            <a [routerLink]="['/matematicas-15']">
                <button class="btn">INICIAR</button>
            </a>

        </div>
    </div>
    </div>
    