<main class="opciones">
  <h1 class="titulo">
    ¿En qué quieres<br>enfatizar tu aprendizaje?
  </h1>

  <div class="botones">
    <button class="boton lectura" (click)="elegirPreferencia('lectura')">
      <img src="assets/Images/Libro.png" alt="Lectura" class="imagen-boton">
      <span>Lectura</span>
    </button>

    <button class="boton matematicas" (click)="elegirPreferencia('matematicas')">
      <img src="assets/Images/Calculadora.png" alt="Matemáticas" class="imagen-boton">
      <span>Matemáticas</span>
    </button>
  </div>
</main>
