<div class="contenido-principal">
  <div class="texto">
    <p>
      “Aprender es fácil y divertido. Explora actividades interactivas diseñadas
      para fortalecer tus habilidades en <strong>lectura</strong> y <strong>matemáticas</strong>.
      ¡Empieza ahora!"
    </p>

    <!-- Botones debajo del texto -->
    <div class="botones-bienvenida">
      <button class="btn-acceder" routerLink="/iniciar-sesion">Iniciar sesión</button>
      <button class="btn-crear" routerLink="/registrarse1">Crear cuenta</button>
    </div>
  </div>

  
</div>

<!-- NUESTRA META -->
<div class="seccion-objetivo" aos data-aos="fade-up">
  <div class="recuadro-objetivo">
    <img src="assets/Images/sentad.png" alt="objetivo" />
  </div>
  <div class="texto-objetivo">
    <h2>NUESTRO OBJETIVO</h2>
    <p>
        Nuestra meta es ayudar a <strong>niños pequeños</strong> y <strong>personas con discapacidades</strong> a desarrollar
  y fortalecer sus habilidades en <strong>matemáticas</strong> y <strong>lectura</strong> de una forma accesible,
  divertida y significativa. A través de actividades interactivas, buscamos crear un entorno de aprendizaje inclusivo,
  en el que cada usuario se sienta motivado, acompañado y capaz de avanzar a su propio ritmo.
  <br><br>
  DIJU está pensado para brindar herramientas pedagógicas adaptadas a diferentes necesidades,
  promoviendo la autonomía, la autoestima y el amor por el aprendizaje desde edades tempranas.
    </p>
  </div>
</div>
<div class="seccion-acerca" aos data-aos="fade-up">
  <h2 class="titulo-acerca">ACERCA DE NOSOTROS</h2>
  <div class="contenido-acerca">
    <p>
      En <strong>DIJU</strong> creemos que el aprendizaje debe ser inclusivo, divertido y accesible para todos.
      Por eso, diseñamos experiencias interactivas especialmente pensadas para <strong>niños pequeños</strong> y
      <strong>personas con discapacidad</strong>, ayudándoles a fortalecer sus habilidades en lectura y matemáticas.
    </p>
    <p>
      Nuestro equipo está comprometido con la educación adaptativa, el diseño amigable y la motivación constante.
      Queremos que cada usuario se sienta <strong>seguro, acompañado y capaz</strong> de alcanzar su máximo potencial.
    </p>
  </div>
</div>