<main class="contenido" data-aos="fade-up">
    <div class="botones">
    <button class="btn-acceder" routerLink="/iniciar-sesion">Acceder</button>
<button class="btn-crear" routerLink="/registrarse">Crear una cuenta</button>
  </div>
  <div class="texto" data-aos="zoom-in-right">
    <p>
      “Aprender es fácil y divertido.<br>
      Explora actividades interactivas diseñadas para fortalecer tus habilidades en 
      <strong>lectura</strong> y <strong>matemáticas</strong>.<br>
      ¡Empieza ahora!”
    </p>
  </div>

  <div class="media" data-aos="zoom-in-left">
    <!-- Aquí puedes insertar una imagen, animación o video -->
    <img src="assets/Images/ilustracion-educativa.svg" alt="Ilustración educativa" class="ilustracion" />
  </div>
</main>