<div class="contenido">
  <div class="texto">
    <h1 class="header">👋 ¡Bienvenido a DIJU!</h1>
    <p>Explora actividades interactivas, mejora tus habilidades y aprende jugando.</p>
    
    <div class="botones">
      <button routerLink="/iniciar-sesion" class="btn-acceder">Iniciar Sesión</button>
      <button routerLink="/registrarse1" class="btn-crear">Registrarse</button>
    </div>
  </div>

  <div class="media">
    <div class="ilustracion">
      <img src="https://cdn-icons-png.flaticon.com/512/201/201623.png" alt="Ilustración educativa" width="100%" />
    </div>
  </div>
</div>
