<div class="contenedor" data-aos="fade-up" *ngIf="!terminado">
  <h1><strong>¿Quién lo dijo?</strong></h1><br>
  <p class="instruccion">Lee el diálogo y selecciona quién dijo cada frase.</p>


    <div class="texto-dialogo" data-aos="fade-up">
  <p>— ¡Vamos al parque antes de que oscurezca! — dijo Sofía.</p>
  <p>— ¿Y si llueve? No quiero mojarme otra vez — murmuró Leo.</p>
  <p>— Solo serán unos minutos. Llevamos paraguas por si acaso — respondió Sofía.</p>
  <p>— Bueno… pero esta vez tú cargas el paraguas — replicó Leo con una sonrisa.</p>
</div>



  <div class="frases" data-aos="fade-up">
    <div class="frase" *ngFor="let f of frases; let i = index">
      <p class="texto-frase">“{{ f.texto }}”</p>
      <div class="opciones">
        <button
          *ngFor="let personaje of personajes"
          (click)="seleccionar(i, personaje)"
          [class.seleccionado]="respuestas[i] === personaje"
          [disabled]="f.bloqueado"
        >
          {{ personaje }}
        </button>
      </div>
    </div>
  </div>

  <button class="verificar" (click)="verificar()"> Verificar</button>

  <p class="mensaje" *ngIf="mensaje" [style.color]="mensaje.includes('✔') ? 'green' : 'crimson'">
    {{ mensaje }}
  </p>
</div>

<!-- Pantalla final -->
<div *ngIf="terminado" class="zona-final" data-aos="zoom-in">
  <p class="titulo-final">CALIFICACIÓN</p>
  <div class="resultado-final">
    <span class="resultado-numero">{{ calificacion }}</span>
    <span class="resultado-slash">/</span>
    <span class="resultado-total">5</span>
  </div>
  <button class="volver" routerLink="/prin-lectura">Volver al inicio</button>
</div>
<button class="imagen-boton" (click)="abrirModal()">
  <img src="assets/Images/pensando.png" alt="Abrir modal" class="imagen-esquina">
  <img src="assets/Images/PenAyuda.png" alt="Ayuda" class="imagen-hover">
</button>
<button class="btn-volver" routerLink="/prin-lectura">Volver</button>
<!-- Modal -->
<div class="modal-fondo" *ngIf="modalAbierto">
  <div class="modal-contenido" data-aos="zoom-in">
    <span class="cerrar" (click)="cerrarModal()">&times;</span>
    <h2>🗣️ ¿Cómo jugar "¿Quién lo dijo?"</h2>
    <ul>
      <li>📖 Lee con atención el diálogo que aparece arriba.</li>
      <li>🧠 Después, mira cada frase que está debajo.</li>
      <li>🤔 Recuerda quién dijo esa frase en el diálogo.</li>
      <li>👉 Haz clic en el nombre de la persona correcta: <strong>Sofía</strong> o <strong>Leo</strong>.</li>
    </ul>
    <p>🎯 Cuando termines todas, presiona <strong>“Verificar”</strong> para saber si acertaste.</p>
  </div>
</div>