<form (ngSubmit)="calcular()">

    <h2>OPERACIONES</h2>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Numero Uno</label>
        <input type="number" class="form-control" id="numero1" [(ngModel)]="numero1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Numero Dos</label>
        <input type="number" class="form-control" id="numero2" [(ngModel)]="numero2" aria-describedby="emailHelp">
    </div>
    <div>
        <button type="button" (click)="operacion='+'" class="btn btn-primary">Sumar</button>
        <button type="button" (click)="operacion='-'" class="btn btn-primary">Resta</button>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>

</form>
<div *ngIf="resultado !== null">
    <h3>Resultado es={{resultado}} </h3>

</div>