<button class="menu-toggle" (click)="toggleSidebar()" [class.active]="isSidebarActive" aria-label="Abrir menú">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="container">
  <aside class="sidebar" [class.active]="isSidebarActive" id="sidebar">
    <div class="menu">
      <div class="menu-item" routerLink="/prin-lectura" routerLinkActive="activo">
        <img src="assets/Images/Casa.png" alt="Inicio" />
        <span>Inicio</span>
      </div>

      <div class="menu-item" routerLink="/matematicas-1" routerLinkActive="activo">
        <img src="assets/Images/Ejercicios.png" alt="Ejercicios" />
        <span>Ejercicios</span>
      </div>

      <div class="menu-item" routerLink="/foro" routerLinkActive="activo">
        <img src="assets/Images/Foro.png" alt="Foro" />
        <span>Foro</span>
      </div>

      <div class="menu-item" routerLink="/perfil" routerLinkActive="activo">
        <img src="assets/Images/Perfil.png" alt="Perfil" />
        <span>Perfil</span>
      </div>

      <div class="menu-item" routerLink="/configuracion" routerLinkActive="activo">
        <img src="assets/Images/Mas.png" alt="Más" />
        <span>Más</span>
      </div>
    </div>
  </aside>
  <div class="contenedor">
    <div class="modulo">
      <div class="contenido">
        <h3>Completar Oraciones</h3>
        <ul class="sin-viñetas">
          <li>Arrastra palabras para completar frases con sentido.</li>
          <li>Asocia imágenes mentales con palabras clave.</li>
          <li>Desarrolla comprensión y vocabulario en contexto.</li>
        </ul>
      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Lectura Básica.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-1']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
