<button class="menu-toggle" (click)="toggleSidebar()" [class.active]="isSidebarActive" aria-label="Abrir menú">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="container">
  <aside class="sidebar" [class.active]="isSidebarActive" id="sidebar">
    <div class="menu">
      <div class="menu-item" routerLink="/prin-lectura" routerLinkActive="activo">
        <img src="assets/Images/Casa.png" alt="Inicio" />
        <span>Inicio</span>
      </div>

      <div class="menu-item" routerLink="/matematicas-1" routerLinkActive="activo">
        <img src="assets/Images/Ejercicios.png" alt="Ejercicios" />
        <span>Ejercicios</span>
      </div>

      <div class="menu-item" routerLink="/foro" routerLinkActive="activo">
        <img src="assets/Images/Foro.png" alt="Foro" />
        <span>Foro</span>
      </div>

      <div class="menu-item" routerLink="/perfil" routerLinkActive="activo">
        <img src="assets/Images/Perfil.png" alt="Perfil" />
        <span>Perfil</span>
      </div>

      <div class="menu-item" routerLink="/configuracion" routerLinkActive="activo">
        <img src="assets/Images/Mas.png" alt="Más" />
        <span>Más</span>
      </div>
    </div>
  </aside>
  <div class="contenedor">
    <div class="modulo">
      <div class="contenido">
        <h3>Completar Oraciones</h3>
        <ul class="sin-viñetas">
          <li>Arrastra palabras para completar frases con sentido.</li>
          <li>Asocia imágenes mentales con palabras clave.</li>
          <li>Desarrolla comprensión y vocabulario en contexto.</li>     
        </ul>
      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Chulo.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-1']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>

    <div class="modulo">
      <div class="contenido">
        <h3>Comprensión de Lectura</h3>
        <ul class="sin-viñetas">
          <li>Lee con atención el enunciado y selecciona la respuesta correcta.</li>
          <li>Refuerza tu comprensión lectora con ejercicios dinámicos.</li>
          <li>Recibe retroalimentación inmediata y observa tu calificación final.</li>
        </ul>


      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Cerebro.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-2']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Detective de Palabras</h3>
        <ul class="sin-viñetas">
          <li>Observa el texto y encuentra la palabra que se repite.</li>
          <li>Ejercita la concentración, la atención visual y la lectura cuidadosa.</li>
          <li>Descubre tu calificación final tras completar todos los retos.</li>
        </ul>


      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Lupa.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-3']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>¿Quién lo Dijo?</h3>
        <ul class="sin-viñetas">
          <li>Lee cada frase y elige el personaje que la dijo correctamente.</li>
          <li>Asocia ideas, personajes y contexto para mejorar la comprensión global.</li>
          <li>Recibe una calificación al finalizar para medir tu nivel de aciertos.</li>
        </ul>



      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Hablae.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-4']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Sinónimos en Contexto</h3>
        <ul class="sin-viñetas">
          <li>Arrastra o haz clic en la palabra correcta que complete el sentido de la oración.</li>
          <li>Enriquece tu vocabulario y comprensión del significado de los sinónimos.</li>
          <li>Recibe retroalimentación instantánea y conoce tu calificación al final.</li>
        </ul>



      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Sinonimo.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-5']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Comprensión Rápida</h3>
        <ul class="sin-viñetas">
          <li>Lee un texto por pocos segundos antes de que desaparezca.</li>
          <li>Responde preguntas basadas en lo que alcanzaste a leer.</li>
          <li>Ejercita tu memoria, atención y comprensión bajo presión.</li>
        </ul>



      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Comprensión.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-6']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Palabra Intrusa</h3>
        <ul class="sin-viñetas">
          <li>Observa el grupo de palabras y selecciona la que no encaja.</li>
          <li>Desarrolla tu capacidad de análisis y clasificación de ideas.</li>
          <li>Obtén retroalimentación inmediata y conoce tu puntaje final.</li>
        </ul>




      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Intrusa.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-7']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Unir Sinónimos</h3>
        <ul class="sin-viñetas">
          <li>Empareja palabras con sus sinónimos haciendo clic en ambos lados.</li>
          <li>Refuerza tu vocabulario y comprensión de palabras equivalentes.</li>
          <li>Recibe retroalimentación visual y una calificación final.</li>
        </ul>



      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Sinonima.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-8']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Orden Lógico</h3>
        <ul class="sin-viñetas">
          <li>Arrastra las frases para formar una secuencia coherente.</li>
          <li>Desarrolla tu sentido narrativo y habilidades de organización.</li>
          <li>Verifica si el orden es correcto y obtén tu calificación.</li>
        </ul>


      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Lista.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-9']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>Relación Causa y Efecto</h3>
        <ul class="sin-viñetas">
          <li>Empareja cada causa con su efecto correspondiente.</li>
          <li>Fortalece el pensamiento lógico y la comprensión lectora.</li>
          <li>Visualiza las relaciones correctas y evalúa tu desempeño.</li>
        </ul>




      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Ordenar.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-10']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>¿Verdadero o Falso?</h3>
        <ul class="sin-viñetas">
          <li>Lee el texto con atención y analiza cada afirmación que se presenta.</li>
          <li>Decide si es verdadera o falsa con base en lo que leíste.</li>
          <li>Fortalece tu comprensión lectora con retroalimentación inmediata.</li>
        </ul>



      </div>
      <div class="lado-derecho">
        <img src="assets/Images/VOF.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-11']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>
    <div class="modulo">
      <div class="contenido">
        <h3>¿Quién lo Dijo?</h3>
        <ul class="sin-viñetas">
          <li>Lee un diálogo y selecciona qué personaje dijo cada frase.</li>
          <li>Mejora tu comprensión de los textos y la identificación de voces narrativas.</li>
          <li>Recibe retroalimentación sobre tus elecciones y conoce tu puntaje.</li>
        </ul>

      </div>
      <div class="lado-derecho">
        <img src="assets/Images/Hablae.png" alt="Niño leyendo" />
        <a [routerLink]="['/lectura-12']">
          <button class="btn">INICIAR</button>
        </a>

      </div>
    </div>

  </div>
</div>