<!-- Barra de progreso -->
<div *ngIf="!terminado" class="barra-progreso">
  <div class="barra-fondo">
    <div class="barra-relleno" [style.width.%]="(ejercicioActual - 1) / totalEjercicios * 100"></div>
  </div>
  <span class="progreso-contador">{{ ejercicioActual }}/{{ totalEjercicios }}</span>
</div>

<!-- Contenedor principal -->
<div class="ejercicio-contenedor">
  <!-- Ejercicio activo -->
  <div *ngIf="!terminado" class="zona-ejercicio" data-aos="zoom-in">
    <div class="operacion">
        <span class="signo">Sigue la serie:</span>
      <span *ngFor="let num of serieMostrada">{{ num }}</span>
    </div>

    <div class="opciones">
      <button *ngFor="let opcion of opciones" (click)="verificar(opcion)" [disabled]="mensaje !== ''">
        {{ opcion }}
      </button>
    </div>

    <div class="mensaje">
      <span *ngIf="color === 'green'" class="correcto">✔ Correcto</span>
      <span *ngIf="color === 'red'" class="incorrecto">❌ Solución correcta: {{ solucionCorrecta }}</span>
    </div>
  </div>

  <!-- Resultado final -->
  <div *ngIf="terminado" class="zona-final" data-aos="zoom-in">
    <p class="titulo-final">CALIFICACIÓN</p>
    <div class="resultado-final">
      <span class="resultado-numero">{{ calificacion }}</span>
      <span class="resultado-slash">/</span>
      <span class="resultado-total">{{ totalEjercicios }}</span>
    </div>
    <button class="volver" routerLink="/principal">Volver al inicio</button>
  </div>
</div>
