<div *ngIf="!terminado" class="barra-progreso">
  <div class="barra-fondo">
    <div class="barra-relleno" [style.width.%]="(ejercicioActual - 1) / totalEjercicios * 100"></div>
  </div>
  <span class="progreso-contador">{{ ejercicioActual }}/{{ totalEjercicios }}</span>
</div>

<div class="ejercicio-contenedor">
  <!-- Barra de progreso -->


  <!-- Ejercicio -->
  <div *ngIf="!terminado" class="zona-ejercicio" data-aos="zoom-in">
    <div class="operacion">
      <span class="numero">{{ numero1 }}</span>
      <span class="signo">+</span>
      <span class="numero">{{ numero2 }}</span>
      <span class="igual">=</span>
      <input type="number" [(ngModel)]="respuestaUsuario" [disabled]="mensaje !== ''" />
    </div>

    <div class="respuesta-row">
      <div class="mensaje">
        <span *ngIf="color === 'green'" class="correcto">✔ Correcto</span>
        <span *ngIf="color === 'red'" class="incorrecto">X Solución correcta:<br>
          {{ numero1 + numero2 }}</span>
      </div>
      <button (click)="verificar()" [disabled]="mensaje !== '' || respuestaUsuario === null">Comprobar</button>
    </div>
  </div>

  <!-- Resultado final -->
  <div *ngIf="terminado" class="zona-final" data-aos="zoom-in">
    <p class="titulo-final">CALIFICACIÓN</p>
    <div class="resultado-final">
      <span class="resultado-numero">{{ calificacion }}</span>
      <span class="resultado-slash">/</span>
      <span class="resultado-total">{{ totalEjercicios }}</span>
    </div>
    <button class="volver" routerLink="/principal">Volver al inicio</button>
  </div>
</div>